{#-
Generates a latex table based on a list
of dictionary structure

The dictionary elements must have equal
keys and be of the same size. The dictionary
keys are regarded as the header titles.

Arguments
table -- list of dictionary
-#}
\begin{tabluar}{|
{%- for header in table[0] -%}
    c|    
{%- endfor -%}
}
    {% for header in table[0] -%}
    {{ header | latexencode }}
    {%- if not loop.last %} & {% endif -%}
    {%- endfor %} \\ \hline
{%- for row in table %}
    {% for key, value in row.items() -%}
        {{ value | latexencode }}
        {%- if not loop.last %} & {% endif -%}
    {%- endfor %} \\ \hline
{%- endfor %}
\end{tabluar}
